<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1>To-Do List</h1>

    <a href="/new">+ Add Task</a>

    <ul>
        <% todos.forEach(todo => { %>
            <li class="<%= todo.completed ? 'completed' : '' %>">
                <span><%= todo.title %></span>

                <div>
                    <a href="/todos/<%= todo._id %>/edit">Edit</a>

                    <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button>Delete</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>

</body>
</html>